In [1]:
import streamlit as st
import pandas as pd
from PIL import Image
import os
from datetime import datetime,timezone,timedelta
import sqlalchemy
from pathlib import Path

2022-06-06 20:07:28.402 INFO    numexpr.utils: Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
2022-06-06 20:07:28.404 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [2]:

# Create the connection string for your SQLite database
database_connection_string = 'sqlite:///'

# Pass the connection string to the SQLAlchemy create_engine function
engine = sqlalchemy.create_engine(database_connection_string, echo=True)

create_nft_table = """
CREATE TABLE nft_info (
    "filename"             VARCHAR(50),
    "filetype"             VARCHAR(50),
    "filepath"             VARCHAR(50),
    "Owner_Name"           VARCHAR(50),
    "Public_Key"           VARCHAR(200),
    "Asset_name"           VARCHAR(50),
    "bid_start_amount"     INT,
    "Bid_close_date"       VARCHAR(50)
  );
 """

engine.execute(create_nft_table)

2022-06-06 20:07:30,380 INFO sqlalchemy.engine.Engine
CREATE TABLE nft_info (
    "filename"             VARCHAR(50),
    "filetype"             VARCHAR(50),
    "filepath"             VARCHAR(50),
    "Owner_Name"           VARCHAR(50),
    "Public_Key"           VARCHAR(200),
    "Asset_name"           VARCHAR(50),
    "bid_start_amount"     INT,
    "Bid_close_date"       VARCHAR(50)
  );

2022-06-06 20:07:30.380 INFO    sqlalchemy.engine.Engine:
CREATE TABLE nft_info (
    "filename"             VARCHAR(50),
    "filetype"             VARCHAR(50),
    "filepath"             VARCHAR(50),
    "Owner_Name"           VARCHAR(50),
    "Public_Key"           VARCHAR(200),
    "Asset_name"           VARCHAR(50),
    "bid_start_amount"     INT,
    "Bid_close_date"       VARCHAR(50)
  );

2022-06-06 20:07:30,381 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.381 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,383 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:07:30.383 INFO    sqlalchemy.engine.Engine: COMMIT

In [7]:
def insert_data(nft_df):
    for index, row in nft_df.iterrows():
         engine.execute("INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)", row.filename, row.filetype,                                                  row.filepath,row.Owner_Name, row.Public_Key, row.Asset_name, row.bid_start_amount, row.Bid_close_date)
    
    sql_nft_info_df = pd.read_sql_table('nft_info', con=engine)
    
    display(sql_nft_info_df)
    
def select_data():
##    query_info=f"""
##    SELECT '{select_what}'
##    FROM '{from_table}'
##    WHERE '{where_condition}'
##    """
    
    sql_nft_info_df = pd.read_sql_table('nft_info', con=engine)
    st.write(sql_nft_info_df)
    
def update_data():
    update_data = """
    UPDATE nft_info
    SET 'filename' = '{nft_df.filename}',
        'filetype' = '{nft_df.filetype}',
        'filepath' = '{nft_df.filename}',
        'Owner_Name' = '{nft_df.Owner_Name}',
        'Asset_name' = '{nft_df.Asset_name}',
        'bid_start_amount' = '{nft_df.bid_start_amount}',
        'Bid_close_date' = '{nft_df.Bid_close_date}'
    WHERE 'Public_Key' = '{nft_df.Public_Key}'
    """
    
    engine.execute(update_data)
    read_all_data = """
    SELECT * FROM nft_info
    """
    engine.execute(read_all_data)
    sql_nft_info_df = pd.read_sql_table('nft_info', con=engine)
    display(sql_nft_info_df)    
##    list(results)

In [4]:
update_data()

2022-06-06 20:07:30,426 INFO sqlalchemy.engine.Engine
    UPDATE nft_info
    SET 'filename' = '{nft_df.filename}',
        'filetype' = '{nft_df.filetype}',
        'filepath' = '{nft_df.filename}',
        'Owner_Name' = '{nft_df.Owner_Name}',
        'Asset_name' = '{nft_df.Asset_name}',
        'bid_start_amount' = '{nft_df.bid_start_amount}',
        'Bid_close_date' = '{nft_df.Bid_close_date}'
    WHERE 'Public_Key' = '{nft_df.Public_Key}'

2022-06-06 20:07:30.426 INFO    sqlalchemy.engine.Engine:
    UPDATE nft_info
    SET 'filename' = '{nft_df.filename}',
        'filetype' = '{nft_df.filetype}',
        'filepath' = '{nft_df.filename}',
        'Owner_Name' = '{nft_df.Owner_Name}',
        'Asset_name' = '{nft_df.Asset_name}',
        'bid_start_amount' = '{nft_df.bid_start_amount}',
        'Bid_close_date' = '{nft_df.Bid_close_date}'
    WHERE 'Public_Key' = '{nft_df.Public_Key}'

2022-06-06 20:07:30,427 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.427 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,430 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:07:30.430 INFO    sqlalchemy.engine.Engine: COMMIT

2022-06-06 20:07:30,432 INFO sqlalchemy.engine.Engine
    SELECT * FROM nft_info

2022-06-06 20:07:30.432 INFO    sqlalchemy.engine.Engine:
    SELECT * FROM nft_info

2022-06-06 20:07:30,435 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.435 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,438 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2022-06-06 20:07:30.438 INFO    sqlalchemy.engine.Engine: SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2022-06-06 20:07:30,438 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.438 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,439 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name

2022-06-06 20:07:30.439 INFO    sqlalchemy.engine.Engine: SELECT name FROM sqlite_master WHERE type='view' ORDER BY name

2022-06-06 20:07:30,440 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.440 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,444 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("nft_info")

2022-06-06 20:07:30.444 INFO    sqlalchemy.engine.Engine: PRAGMA main.table_xinfo("nft_info")

2022-06-06 20:07:30,447 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.447 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,454 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:07:30.454 INFO    sqlalchemy.engine.Engine: SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:07:30,459 INFO sqlalchemy.engine.Engine [raw sql] ('nft_info',)

2022-06-06 20:07:30.459 INFO    sqlalchemy.engine.Engine: [raw sql] ('nft_info',)

2022-06-06 20:07:30,463 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("nft_info")

2022-06-06 20:07:30.463 INFO    sqlalchemy.engine.Engine: PRAGMA main.foreign_key_list("nft_info")

2022-06-06 20:07:30,465 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.465 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,468 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("nft_info")

2022-06-06 20:07:30.468 INFO    sqlalchemy.engine.Engine: PRAGMA temp.foreign_key_list("nft_info")

2022-06-06 20:07:30,469 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.469 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,470 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:07:30.470 INFO    sqlalchemy.engine.Engine: SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:07:30,471 INFO sqlalchemy.engine.Engine [raw sql] ('nft_info',)

2022-06-06 20:07:30.471 INFO    sqlalchemy.engine.Engine: [raw sql] ('nft_info',)

2022-06-06 20:07:30,473 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nft_info")

2022-06-06 20:07:30.473 INFO    sqlalchemy.engine.Engine: PRAGMA main.index_list("nft_info")

2022-06-06 20:07:30,474 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.474 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,476 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nft_info")

2022-06-06 20:07:30.476 INFO    sqlalchemy.engine.Engine: PRAGMA temp.index_list("nft_info")

2022-06-06 20:07:30,477 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.477 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,480 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nft_info")

2022-06-06 20:07:30.480 INFO    sqlalchemy.engine.Engine: PRAGMA main.index_list("nft_info")

2022-06-06 20:07:30,483 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.483 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,485 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nft_info")

2022-06-06 20:07:30.485 INFO    sqlalchemy.engine.Engine: PRAGMA temp.index_list("nft_info")

2022-06-06 20:07:30,487 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:07:30.487 INFO    sqlalchemy.engine.Engine: [raw sql] ()

2022-06-06 20:07:30,487 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:07:30.487 INFO    sqlalchemy.engine.Engine: SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:07:30,488 INFO sqlalchemy.engine.Engine [raw sql] ('nft_info',)

2022-06-06 20:07:30.488 INFO    sqlalchemy.engine.Engine: [raw sql] ('nft_info',)

2022-06-06 20:07:30,493 INFO sqlalchemy.engine.Engine SELECT nft_info.filename, nft_info.filetype, nft_info.filepath, nft_info."Owner_Name", nft_info."Public_Key", nft_info."Asset_name", nft_info.bid_start_amount, nft_info."Bid_close_date"
FROM nft_info

2022-06-06 20:07:30.493 INFO    sqlalchemy.engine.Engine: SELECT nft_info.filename, nft_info.filetype, nft_info.filepath, nft_info."Owner_Name", nft_info."Public_Key", nft_info."Asset_name", nft_info.bid_start_amount, nft_info."Bid_close_date"
FROM nft_info

2022-06-06 20:07:30,494 INFO sqlalchemy.engine.Engine [generated in 0.00100s] ()

2022-06-06 20:07:30.494 INFO    sqlalchemy.engine.Engine: [generated in 0.00100s] ()

Empty DataFrame
Columns: [filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date]
Index: []

In [5]:
nft_df = pd.read_csv(Path("Resources/nft.csv"))

In [8]:
insert_data(nft_df)

2022-06-06 20:08:40,050 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.050 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,052 INFO sqlalchemy.engine.Engine [raw sql] ('Laker', 'Images/image1.png', 253020, 'Images/image1.png', '0xc852Ab4073FF57c7Fa824D158A3Cdd5CC6707399', 'Laker_asset', 4000.0, '6/4/2002')

2022-06-06 20:08:40.052 [raw sql] ('Laker', 'Images/image1.png', 253020, 'Images/image1.png', '0xc852Ab4073FF57c7Fa824D158A3Cdd5CC6707399', 'Laker_asset', 4000.0, '6/4/2002')

2022-06-06 20:08:40,056 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.056 COMMIT

2022-06-06 20:08:40,059 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.059 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,062 INFO sqlalchemy.engine.Engine [raw sql] ('1990', 'Images/image2.png', 253020, 'Images/image2.png', '0x408e647764abbAB762fFc730afd3888552660C35', nan, nan, nan)

2022-06-06 20:08:40.062 [raw sql] ('1990', 'Images/image2.png', 253020, 'Images/image2.png', '0x408e647764abbAB762fFc730afd3888552660C35', nan, nan, nan)

2022-06-06 20:08:40,066 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.066 COMMIT

2022-06-06 20:08:40,072 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.072 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,074 INFO sqlalchemy.engine.Engine [raw sql] ('AllStar', 'Images/image3.png', 253020, 'Images/image3.png', '0x949cD3e57F62499ca874F3C59D456F18b9CeBd8F', nan, nan, nan)

2022-06-06 20:08:40.074 [raw sql] ('AllStar', 'Images/image3.png', 253020, 'Images/image3.png', '0x949cD3e57F62499ca874F3C59D456F18b9CeBd8F', nan, nan, nan)

2022-06-06 20:08:40,076 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.076 COMMIT

2022-06-06 20:08:40,079 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.079 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,080 INFO sqlalchemy.engine.Engine [raw sql] ('Atl0', 'Images/atl0.jpg', 253020, 'Images/atl0.jpg', '0x23f86eA3f98701A05E8eB6596AAc1F01E3600771', nan, nan, nan)

2022-06-06 20:08:40.080 [raw sql] ('Atl0', 'Images/atl0.jpg', 253020, 'Images/atl0.jpg', '0x23f86eA3f98701A05E8eB6596AAc1F01E3600771', nan, nan, nan)

2022-06-06 20:08:40,083 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.083 COMMIT

2022-06-06 20:08:40,085 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.085 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,086 INFO sqlalchemy.engine.Engine [raw sql] ('Atl12', 'Images/atl12.jpg', 253020, 'Images/atl12.jpg', '0x15784317248d616AFf662f512963e35950743Df4', nan, nan, nan)

2022-06-06 20:08:40.086 [raw sql] ('Atl12', 'Images/atl12.jpg', 253020, 'Images/atl12.jpg', '0x15784317248d616AFf662f512963e35950743Df4', nan, nan, nan)

2022-06-06 20:08:40,088 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.088 COMMIT

2022-06-06 20:08:40,089 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.089 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,090 INFO sqlalchemy.engine.Engine [raw sql] ('Atl17', 'Images/atl17.jpg', 253020, 'Images/atl17.jpg', '0x10e1072f12Abd7Db152aF026D56fA6692B0B24EC', nan, nan, nan)

2022-06-06 20:08:40.090 [raw sql] ('Atl17', 'Images/atl17.jpg', 253020, 'Images/atl17.jpg', '0x10e1072f12Abd7Db152aF026D56fA6692B0B24EC', nan, nan, nan)

2022-06-06 20:08:40,091 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.091 COMMIT

2022-06-06 20:08:40,093 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.093 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,095 INFO sqlalchemy.engine.Engine [raw sql] ('Atl7', 'Images/atl7.jpg', 253020, 'Images/atl7.jpg', '0x5a50Fe1A38D5b0C10Cea72C4BB857193e5595DDa', nan, nan, nan)

2022-06-06 20:08:40.095 [raw sql] ('Atl7', 'Images/atl7.jpg', 253020, 'Images/atl7.jpg', '0x5a50Fe1A38D5b0C10Cea72C4BB857193e5595DDa', nan, nan, nan)

2022-06-06 20:08:40,097 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.097 COMMIT

2022-06-06 20:08:40,100 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.100 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,102 INFO sqlalchemy.engine.Engine [raw sql] ('Bulls21', 'Images/bulls21.jpg', 253020, 'Images/bulls21.jpg', '0x8FfdB71Ec8F0925ED9Bc029Eb4072dd369104074', nan, nan, nan)

2022-06-06 20:08:40.102 [raw sql] ('Bulls21', 'Images/bulls21.jpg', 253020, 'Images/bulls21.jpg', '0x8FfdB71Ec8F0925ED9Bc029Eb4072dd369104074', nan, nan, nan)

2022-06-06 20:08:40,105 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.105 COMMIT

2022-06-06 20:08:40,107 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.107 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,109 INFO sqlalchemy.engine.Engine [raw sql] ('Chi10', 'Images/bulls5.jpg', 253020, 'Images/bulls5.jpg', '0x8BDaE51c43C32402618D7eFC841c2486fbeEBf59', 'Bulls10', 7000.0, '4/3/2020')

2022-06-06 20:08:40.109 [raw sql] ('Chi10', 'Images/bulls5.jpg', 253020, 'Images/bulls5.jpg', '0x8BDaE51c43C32402618D7eFC841c2486fbeEBf59', 'Bulls10', 7000.0, '4/3/2020')

2022-06-06 20:08:40,111 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.111 COMMIT

2022-06-06 20:08:40,112 INFO sqlalchemy.engine.Engine INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40.112 INSERT INTO nft_info(filename, filetype, filepath, Owner_Name, Public_Key, Asset_name, bid_start_amount, Bid_close_date) values(?,?,?,?,?,?,?,?)

2022-06-06 20:08:40,113 INFO sqlalchemy.engine.Engine [raw sql] ('Bulls7', 'Images/chi7.jpg', 253020, 'Images/chi7.jpg', '0x031E8c27e6Bf3ea5d32552A3D29c1C4FD6d46A0f', 'Chi7', 5000.0, '5/2/2022')

2022-06-06 20:08:40.113 [raw sql] ('Bulls7', 'Images/chi7.jpg', 253020, 'Images/chi7.jpg', '0x031E8c27e6Bf3ea5d32552A3D29c1C4FD6d46A0f', 'Chi7', 5000.0, '5/2/2022')

2022-06-06 20:08:40,114 INFO sqlalchemy.engine.Engine COMMIT

2022-06-06 20:08:40.114 COMMIT

2022-06-06 20:08:40,120 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2022-06-06 20:08:40.120 SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2022-06-06 20:08:40,123 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.123 [raw sql] ()

2022-06-06 20:08:40,126 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name

2022-06-06 20:08:40.126 SELECT name FROM sqlite_master WHERE type='view' ORDER BY name

2022-06-06 20:08:40,128 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.128 [raw sql] ()

2022-06-06 20:08:40,133 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("nft_info")

2022-06-06 20:08:40.133 PRAGMA main.table_xinfo("nft_info")

2022-06-06 20:08:40,137 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.137 [raw sql] ()

2022-06-06 20:08:40,142 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:08:40.142 SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:08:40,144 INFO sqlalchemy.engine.Engine [raw sql] ('nft_info',)

2022-06-06 20:08:40.144 [raw sql] ('nft_info',)

2022-06-06 20:08:40,146 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("nft_info")

2022-06-06 20:08:40.146 PRAGMA main.foreign_key_list("nft_info")

2022-06-06 20:08:40,150 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.150 [raw sql] ()

2022-06-06 20:08:40,152 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("nft_info")

2022-06-06 20:08:40.152 PRAGMA temp.foreign_key_list("nft_info")

2022-06-06 20:08:40,153 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.153 [raw sql] ()

2022-06-06 20:08:40,154 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:08:40.154 SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:08:40,155 INFO sqlalchemy.engine.Engine [raw sql] ('nft_info',)

2022-06-06 20:08:40.155 [raw sql] ('nft_info',)

2022-06-06 20:08:40,156 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nft_info")

2022-06-06 20:08:40.156 PRAGMA main.index_list("nft_info")

2022-06-06 20:08:40,157 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.157 [raw sql] ()

2022-06-06 20:08:40,159 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nft_info")

2022-06-06 20:08:40.159 PRAGMA temp.index_list("nft_info")

2022-06-06 20:08:40,160 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.160 [raw sql] ()

2022-06-06 20:08:40,161 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nft_info")

2022-06-06 20:08:40.161 PRAGMA main.index_list("nft_info")

2022-06-06 20:08:40,163 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.163 [raw sql] ()

2022-06-06 20:08:40,164 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nft_info")

2022-06-06 20:08:40.164 PRAGMA temp.index_list("nft_info")

2022-06-06 20:08:40,165 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-06-06 20:08:40.165 [raw sql] ()

2022-06-06 20:08:40,168 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:08:40.168 SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-06-06 20:08:40,173 INFO sqlalchemy.engine.Engine [raw sql] ('nft_info',)

2022-06-06 20:08:40.173 [raw sql] ('nft_info',)

2022-06-06 20:08:40,178 INFO sqlalchemy.engine.Engine SELECT nft_info.filename, nft_info.filetype, nft_info.filepath, nft_info."Owner_Name", nft_info."Public_Key", nft_info."Asset_name", nft_info.bid_start_amount, nft_info."Bid_close_date"
FROM nft_info

2022-06-06 20:08:40.178 SELECT nft_info.filename, nft_info.filetype, nft_info.filepath, nft_info."Owner_Name", nft_info."Public_Key", nft_info."Asset_name", nft_info.bid_start_amount, nft_info."Bid_close_date"
FROM nft_info

2022-06-06 20:08:40,185 INFO sqlalchemy.engine.Engine [generated in 0.00749s] ()

2022-06-06 20:08:40.185 [generated in 0.00749s] ()

,filename,filetype,filepath,Owner_Name,Public_Key,Asset_name,bid_start_amount,Bid_close_date
0,Laker,Images/image1.png,253020,Images/image1.png,0xc852Ab4073FF57c7Fa824D158A3Cdd5CC6707399,Laker_asset,4000.0,6/4/2002
1,1990,Images/image2.png,253020,Images/image2.png,0x408e647764abbAB762fFc730afd3888552660C35,None,NaN,None
2,AllStar,Images/image3.png,253020,Images/image3.png,0x949cD3e57F62499ca874F3C59D456F18b9CeBd8F,None,NaN,None
3,Atl0,Images/atl0.jpg,253020,Images/atl0.jpg,0x23f86eA3f98701A05E8eB6596AAc1F01E3600771,None,NaN,None
4,Atl12,Images/atl12.jpg,253020,Images/atl12.jpg,0x15784317248d616AFf662f512963e35950743Df4,None,NaN,None
5,Atl17,Images/atl17.jpg,253020,Images/atl17.jpg,0x10e1072f12Abd7Db152aF026D56fA6692B0B24EC,None,NaN,None
6,Atl7,Images/atl7.jpg,253020,Images/atl7.jpg,0x5a50Fe1A38D5b0C10Cea72C4BB857193e5595DDa,None,NaN,None
7,Bulls21,Images/bulls21.jpg,253020,Images/bulls21.jpg,0x8FfdB71Ec8F0925ED9Bc029Eb4072dd369104074,None,NaN,None
8,Chi10,Images/bulls5.jpg,253020,Images/bulls5.jpg,0x8BDaE51c43C32402618D7eFC841c2486fbeEBf59,Bulls10,7000.0,4/3/2020
9,Bulls7,Images/chi7.jpg,253020,Images/chi7.jpg,0x031E8c27e6Bf3ea5d32552A3D29c1C4FD6d46A0f,Chi7,5000.0,5/2/2022
10,Laker,Images/image1.png,253020,Images/image1.png,0xc852Ab4073FF57c7Fa824D158A3Cdd5CC6707399,Laker_asset,4000.0,6/4/2002
11,1990,Images/image2.png,253020,Images/image2.png,0x408e647764abbAB762fFc730afd3888552660C35,None,NaN,None
12,AllStar,Images/image3.png,253020,Images/image3.png,0x949cD3e57F62499ca874F3C59D456F18b9CeBd8F,None,NaN,None
13,Atl0,Images/atl0.jpg,253020,Images/atl0.jpg,0x23f86eA3f98701A05E8eB6596AAc1F01E3600771,None,NaN,None
14,Atl12,Images/atl12.jpg,253020,Images/atl12.jpg,0x15784317248d616AFf662f512963e35950743Df4,None,NaN,None
15,Atl17,Images/atl17.jpg,253020,Images/atl17.jpg,0x10e1072f12Abd7Db152aF026D56fA6692B0B24EC,None,NaN,None
16,Atl7,Images/atl7.jpg,253020,Images/atl7.jpg,0x5a50Fe1A38D5b0C10Cea72C4BB857193e5595DDa,None,NaN,None
17,Bulls21,Images/bulls21.jpg,253020,Images/bulls21.jpg,0x8FfdB71Ec8F0925ED9Bc029Eb4072dd369104074,None,NaN,None
18,Chi10,Images/bulls5.jpg,253020,Images/bulls5.jpg,0x8BDaE51c43C32402618D7eFC841c2486fbeEBf59,Bulls10,7000.0,4/3/2020
19,Bulls7,Images/chi7.jpg,253020,Images/chi7.jpg,0x031E8c27e6Bf3ea5d32552A3D29c1C4FD6d46A0f,Chi7,5000.0,5/2/2022